.hero-img {
    width:100px;
    height:100px;
    background-color:#000000;
    padding:0%;
    border-radius: 100%;
    border:2px solid white;
    box-shadow: 0px 5px 20px black;
    
}
.landing-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-grid .hero-img-container {
    text-align: center;
}
.landing-grid .desc-container {
    text-align: center;   
    width:80%; 
}