@import "../../sassUtils/util";

.socialribbon__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .socialribbon__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0.5rem 1rem;
    }
    .icon {
        fill: $white;
    }

    #twitter {
        width: 1.875rem;
        height: 1.875rem;
    }
}