@import '../../sassUtils/util';
@import '../../sassUtils/mixins';

.grid-container {
  padding: 1rem 4rem;
  .grid-title {
    color: $primary-d;
  }
  .grid-content {
    display: flex;
    flex-wrap: wrap;
    .item {
      display: flex;
      flex-direction: column;
      padding:1rem;
      flex-basis: 30%;
      min-height: 20rem;
      margin:1rem 1rem 1rem 0rem;
      box-shadow: 0rem 0rem 0.1rem grey;
      border-radius: 0.5rem;
      transition: opacity 0.3s ease-out;

      &:hover {
      box-shadow: 0rem 0rem 0.2rem $primary-d;
      opacity: 0.8;
      transition: opacity 0.3s ease-in;
      }

      .thumb {
        background: #80e9a8;
        flex-basis: 30%;
        border-radius:0.5rem;
      }
      /*todo move styles to BlogPost.scss*/ 
      .details {
        .title {
          margin:1rem 0;
          font-size: 1.3rem;
          color: $secondary-text;
        }
        .date {
          font-size: 0.8rem;
          color:$info;
        }
        .readingTime {
          font-size: 0.8rem;
          color:$info;
          margin:0.5rem 0rem;
          text-align: right;
        }

      }
      @include media-down('md') {
        flex-basis: 46.5%;
      }
      @include media-down('sm') {
        flex-basis: 100%;
      }
    }
  }
  @include media-down('md') {
    padding:1rem 2rem;
  }
  @include media-down('md') {
    padding:1rem 1rem;
  }
}
