package views

import "rajakumar.me/components"

templ Layout() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Rajakumar - Web dev.</title>
			<script src="https://cdn.tailwindcss.com"></script>
		</head>
		<body>
			@components.Header()
			{ children... }
            @components.Footer()
		</body>
	</html>
}
