---
import Layout from "../layouts/Layout.astro";
import { Section } from "../components";
---

<Layout title="Welcome to Astro.">
  <main>
    <Section
      className="w-full flex flex-col justify-center gap-10 h-[calc(100vh-theme('spacing.20'))] items-center relative"
    >
      <div
        class="border-dashed md:p-6 rounded-xl flex flex-col
				md:flex-row gap-2 justify-center"
      >
        <p
          class="text-white text-center text-1xl md:text-3xl xl:text-5xl flex-nowrap"
        >
          👋, I am Rajakumar,{" "}
        </p>
        <p
          class="bg-white text-green-950
						rounded-md px-4 py-2 font-semibold text-1xl md:text-3xl xl:text-5xl"
        >
          Fullstack dev.
        </p>
      </div>
      <a
        href="#content"
        class="border-2 animate-bounce border-white border-dotted rounded-full p-4 text-2xl absolute bottom-0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 fill-white"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </Section>
  </main>
</Layout>
