@import "../../sassUtils/_util.scss";

.container {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: $primary;

    .title {
        font-weight: 600;
        font-size: xx-large;
        color: $primary-text;
        padding: 0rem 4rem;
    }
}