.App {
    background: #159957;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
}
.header {
    background-color: transparent !important;
    color:white;
    border:none;
    box-shadow: none !important;
}