@import "../../sassUtils/_util.scss";
@import "../../sassUtils/mixins";
@import "../../sassUtils/globals";

.banner__container {
    min-height: 80vh;
    background-image: linear-gradient(to bottom right, $primary 80%, $white 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-up ('lg') {
        flex-direction: row;
        justify-content: space-between;

    }

    .banner__child {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1rem 2rem;

        @include media-up('lg') {
            justify-content: center;
        }

        .banner__imageContainer {
            border: 2px solid $white;
            overflow: hidden;
            border-radius: 50%;
            width: 4.375rem;
            height: 4.375rem;

            @include media-up('lg') {
                width: 6.25rem;
                height: 6.25rem;
                border: 5px solid $white;

            }

            img {
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply;
            }

        }

        .banner__details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3 {
                color: $primary-text;
                margin: 1rem 0rem;
            }

            p {
                text-align: justify;
                color: darken($primary-text, 0%);
                margin: 2rem 0rem;
                line-height: 1.7rem;

                @include media-up('lg') {
                    font-size: 1.6rem;
                    max-width: 30rem;
                    line-height: 2.2rem;
                }

            }
        }

        .banner__mainCard {
            width: 20rem;
            padding: 0rem 1rem 1rem 1rem;

            h3 {
                margin: 1rem 0rem;
            }

            blockquote {
                border: 1px solid red;
            }

            .formkit-submit {
                background-color: $primary-d !important;
            }

            @include media-up('lg') {
                width: 30rem;
            }
        }


    }
}